<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="cellToCellDataConverter" class="appfactory.dto.converters.PopulatingConverter">
        <property name="populators">
            <list>
                <bean class="appfactory.dto.converters.CellDataPopulator"></bean>
            </list>
        </property>
    </bean>


    <bean id="cellDataToCellConverter" class="appfactory.dto.converters.PopulatingConverter">
        <property name="populators">
            <list>
                <bean class="appfactory.dto.converters.CellPopulator"></bean>
            </list>
        </property>
    </bean>

</beans>